.classpath
.project
.settings
*.springBeans
*.log
*.log.gz
.DS_Store
/bin/
/.apt_generated/
*.factorypath
src/main/webapp/META-INF
.idea
*.iml
.gradle
gradle*
**/bin/
out
build
logs
catalina.base_IS_UNDEFINED
log.txt
